body{
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

li button {
  float: right;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn {
  background-color: #c82333;
}

.remove-btn:hover {
  background-color: #8c0210;
}

.button-container {
  display: flex;
  gap: 10px;
}

.complete-btn {
  background-color: #28a745;
}

.complete-btn:hover {
  background-color: #006c18;
}

footer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}